<h2>Create a celebrity</h2>
<form action='/celebrities' method='POST'>
  <p><label for='name-input'>Name</label>
    <input id='name-input' type='text' name='name' placeholder='Name' /></p>

  <p><label for='occupation-input'>Occupation</label>
    <input
      id='occupation-input'
      type='text'
      name='occupation'
      placeholder='Occupation'
    /></p>

  <p><label for='catchphrase-input'>Catchphrase</label>
    <input
      id='catchphrase-input'
      type='text'
      name='catchphrase'
      placeholder='Catchphrase'
    /></p>

  <button>Create Celebrity</button>
</form>