<h2>Celebrities</h2>
<a href='/'>Back to homepage</a>
</br>
<a href='/celebrities/create'>Create a Celebrity</a>
</br>


{{#each celebrities}}
<a href='/celebrities/{{this._id}}'>{{this.name}}</a>
</br>
{{/each}}