<h2>Individual celebrity details</h2>
<a href='/celebrities'>Back to celebrities</a>
</br>

{{#each celebrities}}
  <p>{{this.name}}</p>
  <p>{{this.occupation}}</p>
  <p>{{this.catchPhrase}}</p>
{{/each}}